<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
  <div class="carousel-indicators font-monospace">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
            class="active" aria-current="true" aria-label="Slide 1">Witaj</button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">O mnie</button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">Umiejętności<br>miękkie</button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">Umiejętności<br>techniczne</button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5">Edukacja</button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6">Projekty</button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7">Kontakt</button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="section mx-auto position-relative">
        <div class="position-absolute top-50 start-50 translate-middle fs-1 font-monospace welcome">
          <h1>CZEŚĆ</h1><br>
          <h2>Witaj na osobistej stronie<br>
            Kamila Wiśniewskiego</h2>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x font-monospace welcome">
          <h6>Aby poruszać się po segmentach użyj strzałek z lewej i prawej strony ekranu lub przycisków na dole</h6>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="section mx-auto">
        2
      </div>
    </div>
    <div class="carousel-item">
      <div class="section mx-auto">
        3
      </div>
    </div>
    <div class="carousel-item">
      <div class="section mx-auto">
        4
      </div>
    </div>
    <div class="carousel-item">
      <div class="section mx-auto">
        5
      </div>
    </div>
    <div class="carousel-item">
      <div class="section mx-auto">
        6
      </div>
    </div>
    <div class="carousel-item">
      <div class="section mx-auto">
        7
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

