html{
  background-color: black;
  background-image: url("https://www.wallpaperflare.com/static/255/355/814/abstract-3d-geometrical-shapes-wallpaper.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
