<div id="language-buttons">
  <a routerLink="/polish" routerLinkActive="active" class="left">
    <img src="/assets/flag_polish.png" alt="Polish">
  </a>
  <a routerLink="/english" routerLinkActive="active" class="left">
    <img src="/assets/flag_english.png" alt="English">
  </a>
</div>
<div id="mainCarousel" class="carousel slide" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0"
            class="active" aria-current="true" aria-label="Slide 1">Welcome
    </button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2">
      About me
    </button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3">
      Soft skills
    </button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="3" aria-label="Slide 4">
      Technical skills
    </button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="4" aria-label="Slide 5">
      Education
    </button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="5" aria-label="Slide 6">
      Projects
    </button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="6" aria-label="Slide 7">
      Contact
    </button>
  </div>
  <div class="carousel-inner">

    <!-- Welcome segment -->
    <div class="carousel-item active">
      <div class="section mx-auto position-relative">
        <div class="position-absolute top-50 start-50 translate-middle fs-1 welcome">
          <h1>HELLO</h1><br>
          <h2>Check out my online CV!<br>
            In making of this website I used<br>
            technologies such as Angular or Bootstrap</h2>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x welcome">
          <h6>To move between website segments use arrows located on sides of the screen or buttons below</h6>
        </div>
      </div>
    </div>

    <!-- About segment -->
    <div class="carousel-item">
      <div class="section mx-auto position-relative">
        <div id="about" class="position-absolute top-50 start-50 translate-middle">
          <div>
            <img src="/assets/foto_cv.jpg" alt="Foto" id="face-photo">
            <div class="title">ABOUT ME</div>
            <p class="about-text">
              My name is Kamil Wiśniewski and I would like to become Java Developer. I am fascinated with programming
              for over 5 years. I gained skills essential in this area such as basic knowledge of data structures,
              algorithms, databases, OOP or testing in high school, during my computer science studies and on intensive
              Java course. In my free time I develop my interest in IT by reading for example about cellular automaton.
              I
              use those skills and knowledge in my IT projects. I am an analytical thinker, I have attention to details
              and I can work in a team as well as on my own. I tend to approach everything with a dose of skepticism.
            </p>
          </div>
          <hr>
          <div>
            <div class="title">INTERESTS</div>
            <table>
              <tr>
                <td>
                  <div class="hobby">
                    <img src="/assets/hobby_game_white.png" alt="Game">
                    <h4>Independent video games</h4>
                  </div>
                </td>
                <td>
                  <div class="hobby">
                    <img src="/assets/hobby_religion_white.png" alt="Religion">
                    <h4>Religions and beliefs</h4>
                  </div>
                </td>
                <td>
                  <div class="hobby">
                    <img src="/assets/hobby_books_white.png" alt="Book">
                    <h4>Books</h4>
                  </div>
                </td>
                <td>
                  <div class="hobby">
                    <img src="/assets/hobby_movie_white.png" alt="Movie">
                    <h4>Movies / Series</h4>
                  </div>
                </td>
                <td>
                  <div class="hobby">
                    <img src="/assets/hobby_mobile_white.png" alt="Mobile">
                    <h4>New mobile technologies</h4>
                  </div>
                </td>
                <td>
                  <div class="hobby">
                    <img src="/assets/hobby_bike_white.png" alt="Bike">
                    <h4>Walking, biking</h4>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Soft skills segment -->
    <div class="carousel-item">
      <div class="section mx-auto position-relative">
        <div id="softskills" class="position-absolute top-50 start-50 translate-middle">
          <div class="title">SOFT SKILLS</div>
          <div class="soft-skill left">
            <img src="/assets/soft_communication_white.png" alt="Communication" class="soft-skill-img left">
            <h2 class="left">Communicativeness</h2>
          </div>
          <div class="soft-skill right">
            <img src="/assets/soft_group_white.png" alt="Group" class="soft-skill-img left">
            <h2 class="left">Ability to work in a team</h2>
          </div>
          <div class="soft-skill left">
            <img src="/assets/soft_logic_white.png" alt="Logic" class="soft-skill-img left">
            <h2 class="left">Logical and analytical thinking</h2>
          </div>
          <div class="soft-skill right">
            <img src="/assets/soft_details_white.png" alt="Details" class="soft-skill-img left">
            <h2 class="left">Attention to details</h2>
          </div>
          <div class="soft-skill left">
            <img src="/assets/soft_verify_white.png" alt="Verification" class="soft-skill-img left">
            <h2 class="left">Ability to verify information</h2>
          </div>
          <div class="soft-skill right">
            <img src="/assets/soft_scept_white.png" alt="Scepticism" class="soft-skill-img left">
            <h2 class="left">Skeptical life approach</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Technical skills segment -->
    <div class="carousel-item">
      <div class="section mx-auto position-relative">
        <div id="skills" class="position-absolute top-50 start-50 translate-middle">
          <div class="title">TECHNICAL SKILLS</div>
          <div>
            <div class="left">
              <h4>TECHNOLOGIES</h4>
              <div>
                <div class="skill left">
                  <img src="/assets/logo_java.png" alt="Java">
                  <h5>Java</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/logo_spring.png" alt="Spring">
                  <h5>Spring</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/logo_hibernate.png" alt="Hibernate">
                  <h5>Hibernate</h5>
                </div>
              </div>
              <div>
                <div class="skill left">
                  <img src="/assets/logo_sql.png" alt="SQL">
                  <h5>SQL</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/logo_angular.png" alt="Angular">
                  <h5>Angular</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/logo_git.png" alt="Git">
                  <h5>Git</h5>
                </div>
              </div>
              <h4>LANGUAGES</h4>
              <div>
                <div class="skill left">
                  <img src="/assets/flag_english.png" alt="English">
                  <h5>English - C1</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/flag_polish.png" alt="Polish">
                  <h5>Polish - native</h5>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="wide">
                <h4>SOFTWARE</h4>
                <div class="skill left">
                  <img src="/assets/logo_windows.png" alt="Windows">
                  <h5>Windows</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/logo_intellij.png" alt="IntelliJ">
                  <h5>IntelliJ</h5>
                </div>
                <div class="skill left">
                  <img src="/assets/logo_vsc.png" alt="VSC">
                  <h5>VSCode</h5>
                </div>
              </div>
              <div class="wide">
                <div class="skill left shorter">
                  <img src="/assets/logo_ubuntu.png" alt="Linux">
                  <h5>Linux (Ubuntu)<br>contact</h5>
                </div>
                <div class="skill left shorter">
                  <img src="/assets/logo_unix.png" alt="UNIX">
                  <h5>UNIX based<br>console</h5>
                </div>
              </div>
              <div class="wide">
                <h4>KNOWLEDGE</h4>
                <div class="skill left shorter">
                  <img src="/assets/logo_patterns.png" alt="Patterns">
                  <h5>Design<br>patterns</h5>
                </div>
                <div class="skill left shorter">
                  <img src="/assets/logo_math.png" alt="Math">
                  <h5>Basic knowledge of<br>data structures, algorithms</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Education segment -->
    <div class="carousel-item">
      <div class="section mx-auto position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
          <div class="title">EDUCATION</div>
          <ul class="timeline">
            <li>
              <h5>
                <img src="/assets/logo_sda.png" alt="SDA" class="left">
                SOFTWARE DEVELOPMENT ACADEMY | 04.2021 - 07.2021
              </h5>
              <ul>
                <li>"Java from scratch" course</li>
                <li>322h of classes with teacher</li>
                <li>Java, Spring, Hibernate, Databases, Frontend technologies, Design patterns, Testing
                </li>
                <li>Final team project - website for searching people to play online games with
                </li>
              </ul>
            </li>
            <li>
              <h5>
                <img src="/assets/logo_agh.png" alt="AGH" class="left">
                AGH UNIVERSITY OF SCIENCE AND TECHNOLOGY IN KRAKÓW
                <br>
                COMPUTER SCIENCE | 10.2019 - 02.2021 (CURRENTLY ON DEAN'S LEAVE)
              </h5>
              <ul>
                <li>Computer Science on Faculty of Computer Science, Electronics and Telecommunications</li>
                <li>3 terms fully passed
                </li>
                <li>Basics of algorithms, data structures, logic
                </li>
                <li>Discrete mathematics, algebra, analysis
                </li>
              </ul>
            </li>
            <li>
              <h5>
                <img src="/assets/logo_lote.png" alt="LOTE" class="left">
                HIGH SCHOOL - LOTE IN cieszyn | 09.2016 - 05.2019
              </h5>
              <ul>
                <li>Mathematics, physics, computer science</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Projects segment -->
    <div class="carousel-item">
      <div id="projects" class="section mx-auto">
        <h2 class="title">MY PROJECTS</h2>
        <div class="accordion accordion-flush" id="projectAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                <h4>Game Pals</h4>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                 data-bs-parent="#projectAccordion">
              <div class="accordion-body">
                <img src="/assets/project_gamepals.png" alt="GamePals" class="left">
                <p>
                  Game Pals is a simple website used for posting announcements saying that you need somebody to play
                  online games with. It was made as a final group project on Java course in Software Development
                  Academy. Frontend was made with Angular and backend was made using Spring.
                  <br>
                  <a href="https://gamepals.netlify.app/home">DEMO</a>
                  <br>
                  <a href="https://github.com/game-pals-org/game-pals-api" target="_blank">REPOSITORY</a>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h4>Simple Chat</h4>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#projectAccordion">
              <div class="accordion-body">
                <img src="/assets/project_simplechat.png" alt="SimpleChat" class="left">
                <p>
                  Simple Chat is a simple server and user interface (graphical, console) working together as an online chat.
                  This project isn;t very complicated and was tested only locally because it was first practical
                  project on "Java from scratch" course in Software Development Academy.
                  Created in Java using JavaFX and Hibernate.
                  <br>
                  <a href="https://github.com/wisniewski-kamil/simple-chat" target="_blank">REPOSITORY</a>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <h4>My personal website</h4>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#projectAccordion">
              <div class="accordion-body">
                <p>
                  It's the website you are currently on. I created it to present myself in some more engaging way
                  than just CV and to show that I am familiar not only with backend technologies but with
                  frontend technologies, such as Angular, as well.
                  <br>
                  <a href="https://github.com/wisniewski-kamil/my-website" target="_blank">REPOSITORY</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact segment -->
    <div class="carousel-item">
      <div class="section mx-auto position-relative">
        <div id="contact" class="position-absolute top-50 start-50 translate-middle">
          <div class="title">LET'S TALK:</div>
          <div class="link">
            <a href="https://www.linkedin.com/in/wisniewski-kamil/" target="_blank">
              <img src="/assets/logo_linkedin_white.png" alt="LinkedIn" class="left">
              <h2 class="left">linkedin.com/in/wisniewski-kamil</h2>
            </a>
          </div>
          <div class="link">
            <img src="/assets/logo_email_white.png" alt="Email" class="left">
            <h2 class="left">kamil.m.wis@gmail.com</h2>
          </div>
          <div class="title">CHECK OUT MY CODE:</div>
          <div class="link">
            <a href="https://github.com/wisniewski-kamil" target="_blank">
              <img src="/assets/logo_github_white.png" alt="GitHub" class="left">
              <h2 class="left">github.com/wisniewski-kamil</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="contact-buttons">
  <a href="https://github.com/wisniewski-kamil" class="left" target="_blank">
    <img src="/assets/logo_github_white.png" alt="GitHub">
  </a>
  <a href="https://www.linkedin.com/in/wisniewski-kamil/" class="left" target="_blank">
    <img src="/assets/logo_linkedin_white.png" alt="LinkedIn">
  </a>
</div>
